<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <%- include('./nav_c50.html') %>

    <h1 class="title-page">/views/login_c58.ejs  </h1>    
    
    <form  method="POST" action="/update-id?_method=PUT">
          
        <div class="form-group">
      
          <label>오늘의 할일: </label>   
          <!-- value  -->
          <input type="text" name="ig_title" />

          <br>
          <label>날짜: </label>
          <!-- value -->
          <input type="text" name="ig_date" />
        </div>
  
        <button type="submit" class="myBtn">Submit</button>
    </form>

</body>
</html>